body{
    margin: 0;
    padding: 0;
    background-color: white;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 80px;
    font-weight: 400;
    line-height: 56px;
}
h2{
    font-size: 48px;
    font-weight: 300;
}
h4{
    font-size: 19px;
    font-weight: 500;
    line-height: 1px;
}
h5{
    font-weight: 100;
    line-height: 1px;
}
p{
    font-weight: 600;
    line-height: 26px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.welcome-section{
    height: 100vh;
    margin: 0;
    padding: 0;
}
#navbar{
    font-size: 16px;
    font-weight: 800;
    text-align: right;
    padding-right: 7vw;
}
#navbar ul{
    list-style-type: none;
}
#navbar ul li{
    display: inline-block;
    margin: 1vh 1vw;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    padding-top: 6vh;
}
.name-highlight{
    color: #FF8367;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 10px;
}

.about-section{
    height: 100vh;
}

.project-section{
    background-color: #2b2929;
    height: 100vh;
    padding: 5% 5%;
}
.project-section h2{
    text-align: center;
}
.project-tile{
    background-color: white;
    float: left;
    width: 25vw;
    height: 45vh;
    box-shadow: 1px 1px 10px rgb(156, 151, 151);
    margin-left: 2vw;
    border-radius: 10px;
    padding: 15px;
    color: #333232;
}
.project-tile img{
    width: 100%;
    height: 50%;
}
.project-tile p{
    font-size: 12px;
    line-height: 15px;
}

.exp-section{
    height: 100vh;
    text-align: center;
    padding: 5% 5%;
    
}
.single-experience{
    width: 30vw;
    height: 52vh;
    float: left;
    margin: 0 6%;
    padding: 15px;
    box-shadow: 1px 1px 10px whitesmoke;
    border-left: 9px solid;
    border-radius: 15px;
    margin-top: 10vh ;
    background-color: whitesmoke;
    color: #333232;
}
.single-experience h2{
    font-size: 35px;
}
.single-experience h3{
    font-size: 20px;
}
.single-experience p{
    font-size: 15px;
}
#full-stack{
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(180deg, rgb(0, 238, 255), rgb(17, 0, 255));
    border-image-slice: 1;
}

footer{
    height: 70vh;
    padding-bottom: 5%;
}
.work-inquiry{
    width: 850px;
    height: 200px;
    background-image: url("./images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 9% auto;
    color: white;
    text-align: center;
    padding-top: 4vh;
}
.work-inquiry h2{
    display: inline-block;
    margin-right: 21vw;
    font-size: 52px;
}

.connect{
    text-align: center;
}
.connect img{
    height: 30px;
    width: 30px;
    margin-right: 1vw;
}